/Chapter7Exercises.class
/Chapter8Exercise.class
/EchoLine.class
/FirstProject.class
/HowLongToMemorize.class
/HowLongtoMemorize_Lines.class
/RandomSampleProjects.class
/VerifyMemorization.class
/RandomSampleProjects1.class
/RandomSampleProjects2.class
/Chapter9Exercises.class
/Chapter11and12Exercises.class
/Chapter13Exercises.class
/Chapter14And15Exercises.class
/Chapter14And15Exercises$Game.class
/Chapter16Exercises.class
/FindAVacancyExercise.class
/Chapter17Exercises.class
/BMICalc.class
/Person.class
/BMICalcWIthConstructor.class
/BMICalcWithConstructor.class
/BitOfEconomics.class
/Country.class
/DisplayingAFrame.class
/MemorizationApp.class
/MemorizationAppCoded.class
/Chapter19Mod.class
/Chapter19ModClass.class
